/*=== Base Styles ===*/
html {
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

body {
    font-family: 'Spartan', sans-serif;
    margin: 80px 24px;
    color: hsl(300, 43%, 22%);
    font-size: 15px;
   
}

/*=== Heading Section ===*/
.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 18px;
}

.heading p {
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #927B91;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

/*=== Rating Section ===*/
.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.rating-box {
    background-color: #F7F2F7;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 16px;
}

.rating-stars {
    display: flex;
    justify-content: space-between;
    width: 118px;
}

.ratings .rating-box p {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 16px;
}

/*=== Testimonials Section ===*/
.testimonials {
    display: flex;
    flex-direction: column;
}

.test-card {
    display: flex;
    flex-direction: column;
    background-color: #512051;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 32px;
}

.test-img {
    display: flex;
    align-items: center;
}

.testimonials img {
    border-radius: 50%;
    width: 40px;
    margin-right: 23px;
}

.test-card .test-name {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
}

.test-card .highlight {
    color: #EE69A4;
    line-height: 15px;
    font-size: 13px;
    font-weight: 400;
}

.test-card .test-comment {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
}

/*===Footer Styles ===*/
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*=== Media Queries ===*/

@media only screen and (min-width: 950px) {

    /*=== Base Styles ===*/
    html {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        height: 100vh;
    }

    body {
        margin: 0 165px;
    }

    .desktop-layout {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
        margin-top: 127px;
    }

    /*=== Heading Section ===*/
    .heading {
        width: 40%;
        text-align: left;
        margin: 0;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    /*=== Rating Section ===*/
    .ratings {
        width: 49%;
        margin: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .rating-box {
        flex-direction: row;
        justify-content: space-evenly;

        padding: 20px 0;
        width: 82%;
    }

    .ratebox1 {
        margin-right: 95px;
    }

    .ratebox2 {
        margin-right: 47px
    }

    .ratings .rating-box p {
        margin-top: 0;
    }

    /*=== Testimonials Section ===*/
    .testimonials {
        flex-direction: row;
        width: 100%;
    }

    .test-card {
        margin-bottom: 0;
        margin-right: 16px;
        margin-left: 16px;
    }

    .testbox1 {
        margin-bottom: 32px;
        margin-left: 0;
    }

    .testbox2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .testbox3 {
        margin-top: 32px;
        margin-right: 0
    }

}