/*=== Base Styles ===*/
body {
    font-family: 'Spartan', sans-serif;
}
/*=== Header Section ===*/

/*=== Rating Section ===*/

/*=== Testimonials Section ===*/

/*===Footer Styles ===*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}